<section class="guest-show">
  <div class="container">
    <h1>Contacts</h1>
    <h2>UUID:</h2>
    <p> - <%= @guest.uuid %></p>
    <h2>URL:</h2>
    <p> - <%= @guest.url %></p>
    <h2>Data | Hora</h2>
    <p> - <%= @guest.timestamp %></p>
    <%= link_to 'Back to guests', guests_path %>
  </div>
</section>
