<div class="container">
  <h1>About Us</h1>
  <h4>Somos apaixonados. Apaixonados por casamento e pelo que fazemos.</h4>
  <p>Nos orgulhamos de dizer que somos o pioneiro e líder em sites de casamento e lista de presentes em dinheiro na América Latina e que, nestes 11 anos, já compartilhamos mais de 1 milhão de histórias e processamos mais de R$ 1 bilhão de presentes em dinheiro. Tudo isso com a qualidade iCasei que todo mundo conhece.</p>
</div>
