<section class="contact-show">
  <div class="container">
    <h1>Contact</h1>
    <H2>Name:</H2>
    <p> - <%= @contact.name %></p>
    <H2>Email:</H2>
    <p> - <%= @contact.email %></p>
  </div>
</section>
